<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1031280055187-l5aup2ehv52o4fc8uaj9dhvpkfm57nq3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1031280055187-l5aup2ehv52o4fc8uaj9dhvpkfm57nq3</string>
	<key>API_KEY</key>
	<string>AIzaSyDh5lqcTCfkEaLIya_EvNW-EoDmm1k47Mc</string>
	<key>GCM_SENDER_ID</key>
	<string>1031280055187</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.getx</string>
	<key>PROJECT_ID</key>
	<string>green-taxi-d8a1e</string>
	<key>STORAGE_BUCKET</key>
	<string>green-taxi-d8a1e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1031280055187:ios:8507684431139d71ae8e66</string>
</dict>
</plist>